body, html{
    background-color: #191414;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

#navbar{
    justify-content: center;
    align-items: center;
    display: flex;  
    width: 100vw;
    height: 75px;
    background-color:black;
    color: white;
}

.images{
    height: 45px;
    width: 45px;
}

#nav-content-left{
    width: 50%;
    left: 10px;
    position: absolute;
}

#nav-content-right{
    right: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row;
}

#ranking-nav{
    margin-right: 10px;
}

@media screen and (max-width: 940px){
     #navbar{
        height: 85px;
     }


}  