@font-face {
    font-family: Spotify;
    src: url(Spotify-Font/GothamLight.ttf);
}

body, html{
    background-color: #191414;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Spotify;
    font-weight: 700;
}

#navbar{
    justify-content: center;
    align-items: center;
    display: flex;  
    width: 100vw;
    height: 75px;
    background-color:black;
    color: #1ed760;
}

#user{
    height: 45px;
    width: 45px;
}

#logo{
    height: 58.3px;
    width: 150.5px;
}

#nav-content-left{
    width: 50%;
    left: 10px;
    position: absolute;
}

#nav-content-right{
    right: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row;
}

#ranking-nav{
    margin-right: 10px;
}

#user{
    border-radius: 50px;
}

@media screen and (max-width: 940px){
     #navbar{
        height: 85px;
     }
}  