#content{
    position: absolute;
    top: 27vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#album{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: Spotify, sans-serif !important;
    width: 50vw;
    padding-right: 20px;
}

#lyric{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: 20px;
    font-family: Spotify, sans-serif !important;
    filter: saturate(0%);
}

.contenedor{
    height: 300px;
    width: 300px;
    right: 0;
    border: 5px solid#1ed760;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#image-album{
    height: 180px;
    width: 200px;
}

#image-lyric{
    height: 180px;
    width: 220px;
}

.index{
    color:#1ed760;
    top: 10px;
}

.description-index{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

#container-button{
    display: flex;
    width: 100vw;
    top: 87vh;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#container-nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#boton-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border: 5px solid#1ed760;
    border-radius: 10px;
    font-size: 20px;
    font-family: Spotify, sans-serif !important;
    color: #1ed760;
    font-weight: bold;
}

#boton-nav:hover{
    background-color: #1ed760;
    color: white;
}

#container-welcome{
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

#welcome-user{
    color: #1ed760;
    font-family: Spotify, sans-serif !important;
    font-size: 20px;
}
@media screen and (max-width: 700px) {
    #content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #lyric{
        margin-top: 10vh;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        width: 100vw;
    }

    #album{
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        width: 100vw;
    }

    .contenedor{
        height: 270px;
        width: 270px;
        border-radius: 15px;
    }

    #image-album{
        height: 150px;
        width: 170px;
    }
    
    #image-lyric{
        height: 150px;
        width: 190px;
    }
    
}

@media screen and (max-height: 1000px) and (min-height: 801px) and (max-width: 700px){
    #content{
        top: 15vh;
    }
    #container-button{
        align-items: center;
        top: 95vh;
    }
}

@media screen and (max-height: 800px) and (max-width: 700px) {
    #content{
        top: 20vh;
    }

    #container-button{
        top: 115vh;
    }
}

@media screen and (max-width: 400px) and (max-height: 700px){

    #container-button{
        top: 105vh;
    }
    .contenedor{
        height: 220px;
        width: 220px;
        border-radius: 15px;
    }

    #image-album{
        height: 130px;
        width: 150px;
    }
    
    #image-lyric{
        height: 130px;
        width: 170px;
    }
    
}