#game{
    position: absolute;
    top: 15vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#img-container{
    width: 275px;
    height: 275px;
    overflow: hidden;
}

#album-img{
    width: 550px;
    height: 550px;
    margin-top: -225px; /*valores entre 0 y -225*/
    margin-left: -225px; /*valores entre 0 y -225*/
    transition: filter 0.5s;
    display: flex;
}


#lifes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hearts-life{
    margin-top: 3vh;
    height: 33px;
    width: 35px;
}

#heart-center{
    margin-left: 10px;
    margin-right: 10px;
}

#points{
    color: #1ed760;
    font-size: 20px;
}

#searchbar{
    margin-top: 2vh;
    height: 6vh;
    border-radius: 15px;
    border: 1px solid #1ed760;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 200px;
}

#lupa-search{
    height: 30px;
    width: 30px;
}

#input-search{
    background-color: #191414;
    border: #191414;
    color: #1ed760;
    font-family: Spotify;
    width: 150px;
    height: 20px;
}

.blur {
    filter: blur(50px);
    transition: filter 1s;
}

.not-blur {
    filter: blur(0px);
    transition: filter .5s;
}

textarea:focus, input:focus{
    outline: none;
}

#right-answer{
    color: #1ed760;
    font-family: Spotify;
}

@media screen and (max-width: 300px){
    #img-container{
        width: 250px;
        height: 250px;
    }
}