@font-face {
    font-family: Spotify;
    src: url(Spotify-Font/GothamLight.ttf);
}

body, html{
    background-color: #191414 !important;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Spotify;
    font-weight: 700;
}

#user{
    height: 45px;
    width: 45px;
}

#logo{
    height: 58.3px;
    width: 150.5px;
}

.clase-nav{
    background-color: black;
}

#ranking-nav{
    color: #1ed760;
}

.menudrop{
    position: absolute !important;
}

.menudrop[data-bs-popper] {
    top: 100%;
    left: auto !important;
    right: 0rem;
}

.dropdown-toggle::after {
    border: 0px !important;
    margin: 0px !important;
    display: none !important;
}

.relleno{
    padding: 12%;
}

.container{
    align-items: center;
    justify-content: center;
}